# Clave secreta para firmar los JWT (genera una propia: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))")
JWT_SECRET=cambia_esto_por_una_clave_aleatoria_de_64_bytes

# Spotify API Credentials
# Obtén estos datos en https://developer.spotify.com/dashboard
SPOTIFY_CLIENT_ID=190c95038f3b4046a2efa7cc07b1e145
SPOTIFY_CLIENT_SECRET=5dc4fd7c699b47edbf9a6b4a3304b1cd

# Puerto del servidor (opcional, default 3001)
PORT=3001

# URL de redireccionamiento (debe coincidir con la configurada en Spotify Dashboard)
# Si cambias el puerto, actualiza también aquí
SPOTIFY_REDIRECT_URI=https://192.168.100.8:3443/callback
